.imuzika_header_container {
    display: flex;
    background-color: black;
    padding: .75%;
    align-items: center;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
    padding: 1.2% 3%;
    border-bottom: .15px solid rgb(231, 73, 0);
}

textarea:focus, input:focus{
    outline: none;
}


.imuzika_header_container h2 {
    margin-right: 4%;
    color: rgb(231, 73, 0);
}

.flexing {
    display: flex;
    flex-wrap: wrap;
    width: 16%;
    overflow: hidden;
    color: white;
}

.width30 {
    width: 30%;
}

.width40 {
    width: 40%;
}



.imuzika_header {
    /* display: flex;
    width: 100%;
    background-color: white; */

    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    height: 5%;
    border: none;
    padding: .25%;
    border-radius: 25px;
}


.imuzika_header input {
    width: 90%;
    border: none;
    height: 35px;
    padding: .5%;
    border-radius: 25px;
    margin-right: 2%;
    font-size: 16px;

}



.imuzika_header button {
    border: none;
    
}

.music_topInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-image: linear-gradient(black , black, black, black, black, black, black, rgb(231, 73, 0));
    color: black
    /* border-bottom: 1px solid black; */
}


.music_topInfo div {
    margin: 2%;
    padding: 1%;
}

.pfont {
    font-size: 3em;
    margin-right: 14%;
    width: 100%;
}

.pfontmedium {
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    padding: 2.95% 0%;
    margin-left: 4%;
    text-align: center;

}

.music_topInfo h1 {
    font-size: 7rem;
    color: rgb(231, 73, 0);
    
    
}

.detail_decoration {
    color: white;
    border-bottom: 1px solid gray;
    padding: 1%;
    /* margin-top: 50%; */
}


.music_display {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
    
}


